<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>Xemplar Trusted Authentication</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!--<script src="http://code.jquery.com/jquery-latest.js"></script>--!>
<script src="/static/assets/js/processing-1.3.6.js"></script>
</head>

<body style="padding-top: 40px">

    <!--<script src="http://api.jquery.com/scripts/events.js"></script>--!>
<script>
    var pressDuration = new Array();
    var user = "{{user_name}}"
    
</script>
<canvas data-processing-sources="/static/pde/doubleclick.pde"></canvas>
</body>
</html>
